{% include 'public_header.html'  %} 

<!-- ======= Hero Section ======= -->
<section id="hero" style="height: 1000px;">
    <div class="hero-container" style="height: 1000px;">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 1000px;">


        <div class="carousel-inner" role="listbox" style="height: 1000px;">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/t.jpg);height: 1000px;">
            <div class="carousel-container" style="height: 1000px;">
              <div class="carousel-content" style="height: 1000px;">
             
                

   
    <center>
        <br><br><br><br> <br><br><br>
        <h3 style="color: white">About Us </h3><br>
        <p>EatNow is your one stop place to buy any localised spices and home remedies .  We also deliver you different handmade items in the best way.

          
          
          We are extremely thankful to all over beloved customers who have supported us over the years.
          
          
          
           We’re traveling more than ever before, and as we take a bigger place on the world stage, we want to explore everything it has to offer.
          
          
          
          
        
        </p>
        
    </center>



</div>
</div>
</div>
</div>

</div>


</div>
</div>
</section><!-- End Hero -->

{% include 'footer.html'  %} 