{% include "adminheader.html" %}
<div id="page-wrapper" >
  <div id="page-inner">
      <div class="row">
          <div class="col-md-12">
          
          </div>
      </div>              
       <!-- /. ROW  -->
        <hr />
     


    <center>
        {% if q %}
        <h1>Product Details</h1>
    <table class="table" style="width: 800px;" border="4">
        <tr>
            <th>SL.NO</th>
            <th>Product Name</th>
            <th>Image</th>
            <th>quantity</th>
            <th>rate</th>
            <th>Total</th>
        </tr>
            {% for i in q %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.product.product_name}}</td>
            
            <td><img src="/static/uploads/{{i.product.image}}" height="200" width="200" alt="" /></td>
            <td>{{i.qty}}</td>
            <td>{{i.product.rate}}</td>
            <td>{{i.amont}}</td>  
        </tr>
            {% endfor %}

          <tr>
          <td colspan="6" align="center"><h2>Total : {{omtotal}}</h2></td>
          </tr>
    </table>
    {% else %}
    <br><br>

    
    {% endif %}
</center>
       <!-- /. ROW  -->
       <hr />                
    
     
       <!-- /. ROW  -->           
</div>
   <!-- /. PAGE INNER  -->
{% include 'admin_footer.html'  %} 





