{% include 'customer_header.html'  %} 

  <!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">


        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/ss.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
             
              
            
  
                <form method="post">
                    {% csrf_token %}
                    <center>
                
                        <h1 style="color:white">Change Password</h1>
                        <table class="table" style="width:500px;color:white">
                            <tr>
                                <th>Username</th>
                                <td><input type="text" readonly value="{{username}}" name="un" class="form-control" required></td>
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td><input type="text"  name="pwd" class="form-control" required></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submit" value="SET" class="btn btn-danger"></td>
                            </tr>
                        </table>
                
                    </center>
                </form>
    

                </div>
            </div>
          </div>
        </div>

      </div>

    
    </div>
  </div>
</section><!-- End Hero -->

{% include 'footer.html'  %} 
