{% include "customer_header.html" %}
<!-- ======= Hero Section ======= -->
<section id="hero" style="height:400px">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">


        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide-1.jpg);" style="height:400px">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>EatNow</span> Snacks</h2>
                {% comment %} <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <div>
                  <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                  <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Book a Table</a> {% endcomment %}
                </div>
              </div>
            </div>
          </div>

        </div>

      
      </div>
    </div>
  </section><!-- End Hero -->
  <h1 style="color:white">MY CART</h1>
<style type="text/css">
  tr,th{
    color: black;
  }
</style>
 
 <center>
<form method="post">
      {% csrf_token %}
    <table class="table"  id="customers">
            <tr>
              <th>SELLER</th>

              <th>PRODUCT</th>
              <th>IMAGE</th>
                <th>QUANTITY</th>
                <th></th>
                <th>AMOUNT</th>
                <th>TOTAL</th>
               </tr>
            {% for row in q %}
            <tr>
              <td>{{row.product.seller.fname}} {{row.product.seller.lname}}</td>
              <td>{{row.product.product_name}}</td>
              <td><img src="/static/uploads/{{row.product.image}}" width="100" height="100" alt=""></td>

                      <td><input type="number" id="qty{{forloop.counter}}" onchange="myFunction('{{forloop.counter}}')" min="0" name="qtys{{forloop.counter}}" value="{{row.qty}}">
                        <input type="hidden" min="0" id="bcid{{ forloop.counter }}" name="bcid{{forloop.counter}}" value="{{row.id}}">


                       
                        
                        <input type="hidden" min="0" name="amtss{{forloop.counter}}" value="{{row.product.rate}}"></td>
                <!-- <td><input type="submit" name="update_cart{{forloop.counter}}" value="update" class="btn btn-warning"></td> -->
                <td id="amt{{ forloop.counter }}">{{row.product.rate}}</td>
                <td id="totamt{{ forloop.counter }}">{{row.amont}}</td>
                <td> <a onclick="return confirm('Are you sure?')" class="btn btn-danger" href="/customer_remove_cart_product/{{row.id}}/{{row.order_master.id}}">REMOVE</a></td>

            </tr>
            {%endfor%}
            <table class="table" style="width:300px" id="customers">
              <tr>
                <th>GRAND TOTAL: <span id="finalcost">{{bk_total}}</span> Rupees</th>
            </tr>
          </table>
          {% if bk_status == "pending" %}

          <table class="table" style="width:300px" id="customers">

            <tr>
    <td> <a class="btn btn-info" href="/customer_make_payment/{{bk_id}}/{{bk_total}}"> PROCEED TO CHECKOUT</a></td>
    </tr>
    {% else %}
              
              <td>EMPTY CART</td>

                {%endif%}

 </tr>
            </table>
        </table>
   
</form>
</center>



  

<script type="text/javascript">



  
  async function myFunction(i) {
    
      const qty = await document.getElementById("qty"+i).value
      const bcid = document.getElementById("bcid"+i).value
      const amt = document.getElementById("amt"+i).innerText

      // var selectedOption = select.options[select.selectedIndex].value;
      console.log(qty);
      console.log(bcid);
  
      
            fetch('/change_qty/', {
              method: 'POST',
              headers: {
                  'X-CSRFToken': "{{ csrf_token }}",
                  'Content-type': 'application/json'
      },
              body: JSON.stringify({
                  qty:qty,
                  bcid:bcid,
                  amt:amt,
              'csrfmiddelewaretoken':"{{ csrf_token }}"
          })
            })
          .then(response => response.json())
          .then(data => {

              if (data.outss == 'Quantity Reached'){
                alert("Quantity Reached!");
                location.reload()
                console.log("hei");
              }else{
                
                
                
                var arr = data.data
                console.log("................"+arr[0].amt);
                document.getElementById("totamt"+i).innerText=arr[0].amt   
                document.getElementById("qty"+i).value=arr[0].qty
                document.getElementById("finalcost").innerText=arr[0].total
                
              }
            })
  
          }

</script>
</center>
{% include "footer.html" %}
