{% include 'customer_header.html'  %} 

  <!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">


        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/ss.jpg);" >
            <div class="carousel-container">
              <div class="carousel-content">
             
                <script type="text/javascript">
                    function TextOnTextChange()
                    {
                        var x =document.getElementById("p_amount").value;
                        var y =document.getElementById("p_qnty").value;
                        document.getElementById("t_amount").value = x * y;
                    }
                
                </script>            
    <br><br><br>        
  
                    <form method="post">
                        {% csrf_token %}
                        <center>
                            <h3 style="color: white">Bulk Order</h3>
                            <table class="table" style="width: 700px;color:white">
                            <tr>
                                    <td><h5>Item Name  : {{pname}}</h5><br></td>
                                </tr> 
                                <tr>
                                    <th>Date</th>
                                    <td><input type="date" min="{{today}}" required="" class="form-control"  name="dt"></td>
                                </tr>
                                <tr>
                                    <th>Quantity</th>
                                    <td><input type="number" required="" class="form-control"  name="qty" id="p_qnty" onchange="TextOnTextChange()"></td>
                                </tr>
                    
                    
                                <tr>
                                    <th>Amount</th>
                                    <td><input type="text" required="" value={{rate}} readonly class="form-control"  name="amount" id="p_amount"></td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td><input type="text" readonly="" required="" class="form-control"  name="total"  id="t_amount"></td>
                                </tr>
                                
                                

                                <tr>
                                    <td colspan="2" align="center"><input class="btn btn-info" type="submit" name="submit" value="ADD"></td>
                                </tr>
                    
                            </table>
                        </center>
                    </form>
    

                </div>
            </div>
          </div>
        </div>

      </div>

    
    </div>
  </div>
</section><!-- End Hero -->

{% include 'footer.html'  %} 