{% include "deliveryboyheader.html" %}

  
<div id="page-wrapper" >
  <div id="page-inner">
      <div class="row">
          <div class="col-md-12">
         
          </div>
      </div>              
       <!-- /. ROW  -->
        <hr />          
              

    <center>
        {% if q %}
        <h1>Bookings</h1>
    <table class="table" style="width: 1200px;">
        <tr>
            <th>SL.NO</th>
            <th>Customer</th>
            <th>Email</th>
            <th>Total</th>
            <th>Date</th>
            <th>Product</th>
            
            <th>Status</th>
        </tr>
            {% for row in q %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{row.customer.fname}} {{row.customer.lname}}</td>
            <td>{{row.customer.email}}</td>
            <td>{{row.total}}</td>
            <td>{{row.date}}</td>
            <td><a class="btn btn-primary" href="/deliveryboy_view_cart_product/{{row.id}}">Product Details</a></td>
            
            
            {% if row.status == "Assigned" %}
            <td>
                 <a class="btn btn-warning" href="/deliveryboy_update_status/{{row.id}}">Delivered</a> 
                {% comment %} <a class="btn btn-warning" href="/assign_to_deliveryboy/{{row.id}}">Assign</a> {% endcomment %}
               
            </td>
            {% else %}
            <td>{{row.status}}</td>
            {% endif %}
            
        </tr>
            {% endfor %}
    </table>
    {% else %}
    <br><br>
    <h2>NO DATA</h2>
    
    <br><br><br><br>
    {% endif %}
</center>

  <!-- /. ROW  -->
  <hr />                
    
     
  <!-- /. ROW  -->           
</div>
<!-- /. PAGE INNER  -->
{% include "admin_footer.html" %}