{% include 'deliveryboyheader.html'  %} 
<div id="page-wrapper" >
  <div id="page-inner">
      <div class="row">
          <div class="col-md-12">
           <h2>Deliveryboy Dashboard</h2>   
              <h5>Welcome {{name}} , Love to see you back. </h5>
          </div>
      </div>              
       <!-- /. ROW  -->
        <hr />
      {% comment %} <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">           
<div class="panel panel-back noti-box">
      <span class="icon-box bg-color-red set-icon">
          <i class="fa fa-envelope-o"></i>
      </span>
      <div class="text-box" >
          <p class="main-text">Sellers</p>
          <p class="text-muted">{{scount}}</p>
      </div>
   </div>
</div>
          <div class="col-md-3 col-sm-6 col-xs-6">           
<div class="panel panel-back noti-box">
      <span class="icon-box bg-color-green set-icon">
          <i class="fa fa-bars"></i>
      </span>
      <div class="text-box" >
          <p class="main-text">Users</p>
          <p class="text-muted">{{ccount}}</p>
      </div>
   </div>
</div> {% endcomment %}
          
</div>
       <!-- /. ROW  -->
      <hr />                
    
     
       <!-- /. ROW  -->           
</div>
   <!-- /. PAGE INNER  -->

{% include 'admin_footer.html'  %} 