{% include 'seller_header.html'  %} 

 
<div id="page-wrapper" >
  <div id="page-inner">
      <div class="row">
          <div class="col-md-12">
         
          </div>
      </div>              
       <!-- /. ROW  -->
        <hr />          
                 
            
  
                <form method="post">
                    {% csrf_token %}
                    <center>
                <script>
                    var check = function() {
                        if (document.getElementById('password').value ==
                          document.getElementById('confirm_password').value) {
                          document.getElementById('message').style.color = 'green';
                          document.getElementById('message').innerHTML = 'matching';
                        } else {
                          document.getElementById('message').style.color = 'red';
                          document.getElementById('message').innerHTML = 'not matching';
                        }
                      }
                
                        function disableButton(){
                
                            console.log(document.getElementById('password'));
                            console.log(document.getElementById('confirm_password'));
                
                            if (document.getElementById('password').value === document.getElementById('confirm_password').value ){
                                document.getElementById('btn').style.visibility = 'visible'
                        }else {
                            document.getElementById('btn').style.visibility = 'hidden'
                    }
                    }
                
                    </script>
                
                        <h3 style="color:white">Set new Password</h3>
                        <table class="table" style="width:800px;color:white">
                            <tr>
                                <th>Password</th>
                                <td><input oninput="disableButton()" type="text" name="psw" class="form-control" onkeyup='check();' id="password" required></td>
                            </tr>
                            <tr>
                                <th>Confirm Password</th>
                                <td><input oninput="disableButton()" type="text"  name="cpsw" class="form-control" onkeyup='check();' id="confirm_password" required></td>
                                <td><span id='message'></span></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input id="btn" type="submit" name="submit" value="SET" class="btn btn-danger"></td>
                            </tr>
                        </table>
                
                    </center>
                </form>

       
  <!-- /. ROW  -->
  <hr />                
    
     
  <!-- /. ROW  -->           
</div>
<!-- /. PAGE INNER  --> 

{% include 'footer.html'  %} 