{% include 'seller_header.html'  %} 

<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
           
            </div>
        </div>              
         <!-- /. ROW  -->
          <hr />
               
         
<form method="post">
    {% csrf_token %}
    <center>

        {% if up %}
        <h1>Edit Profile</h1>
        <table class="table" style="width:500px;color:black">
            <tr>
                <th>First Name</th>
                <td><input type="text" value={{up.fname}} name="fn" class="form-control" required></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" value={{up.lname}} name="ln" class="form-control" required></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" value={{up.phone}} name="ph" class="form-control" required></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" value={{up.email}} name="em" class="form-control" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit" value="UPDATE" class="btn btn-danger"></td>
            </tr>
        </table>

        {% else %}

        <h2 style="color: black">My Profile</h2>
    
        <table class="table" border="4" style="width:500px;color:black">
            {% for i in q1 %}
            <tr>
                <th>First Name :</th>
                <td>{{i.fname}}</td>
            </tr>
            <tr>
                <th>Last Name :</th>
                <td>{{i.lname}}</td>
            </tr>
            <tr>
                <th>Place :</th>
                <td>{{i.place}}</td>
            </tr>
            <tr>
                <th>Phone :</th>
                <td>{{i.phone}}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{i.email}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><a class="btn btn-info" href="/seller_edit_profile/{{i.id}}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
       {% endif %}
    </center>
</form>

  <!-- /. ROW  -->
  <hr />                
    
     
  <!-- /. ROW  -->           
</div>
<!-- /. PAGE INNER  -->

{% include 'admin_footer.html'  %} 