{% include "seller_header.html" %}

<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fn']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='ln']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
      
        
        $("input[name='ph']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pincode']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='em']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='pl']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });



   var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>

<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
           
            </div>
        </div>              
         <!-- /. ROW  -->
          <hr />
             
     <center>      
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
       

    
        <form method="post">

            <script src="
            https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
                </script>
            <script>
                $(function() {
                    $("input[name='fn']").on('input', function(e) {
                        $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
            
                    });
                    $("input[name='ln']").on('input', function(e) {
                        $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
            
                    });
                  
                    
                    $("input[name='ph']").on('input', function(e) {
                        $(this).val($(this).val().replace(/[^0-9]/g, ''));
                        
                    });
                    $("input[name='pincode']").on('input', function(e) {
                        $(this).val($(this).val().replace(/[^0-9]/g, ''));
                        
                    });
                    $("input[name='em']").on('input', function(e) {
                          var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                            if(!re) {
                                $('#eerror').show();
                            } else {
                                $('#eerror').hide();
                            }
            
                    });
                    $("input[name='address']").on('input', function(e) {
                        $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));
            
                    });
                    $("input[name='pl']").on('input', function(e) {
                        $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
            
                    });
                        
                    $("input[name='pwd']").on('input', function(e) {
                        $(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
                        
                    });
                });
            
            
            
               var check = function() {
              if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
              } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
              }
            }
            </script>
            {% csrf_token %}
            <center>
                <br><br><br><br> <br>
                <h3 style="color: black">Deliveryboy Registration</h3>
                <table class="table" style="width: 500px;color: black">
                    <tr>
                        <th>First Name</th>
                        <td><input type="text" id="form_fname" style="text-transform:capitalize;" name="fn" class="form-control" required>
                            <span class="error_form" id="fname_error_message" style="color:red; font-size :13px; "></span></td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td><input type="text"  id="form_sname" style="text-transform:capitalize;" name="ln" class="form-control" required>
                            <span class="error_form" id="sname_error_message" style="color:red; font-size :13px; "></span></td>
                    </tr>
                  
                    <tr>
                        <th>Place</th>
                        <td><input type="text" style="text-transform:capitalize;" name="pl" class="form-control" required></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td><input type="text" id="form_phone"  pattern="[6-9]{1}[0-9]{9}"  minlength="10" maxlength="10" name="ph" class="form-control" required>
                            <span class="error_form" id="phone_error_message" style="color:red; font-size :13px; "></span></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="email" id="form_email" name="em" class="form-control" required>
                            <span class="error_form" id="email_error_message"  style="color:red; font-size :13px; "></span></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" name="pwd" id="form_password"
                            title="Must contain at least one number and one
                         uppercase and lowercase letter, and at least 8 or more characters"  class="form-control" required>
                         <span class="error_form" id="password_error_message"  style="color:red; font-size :13px; "></span></td>
                    </tr>
                    <tr>
                        <th>Confirm Password</th>
                        <td><input type="password" name="cpwd"  id="form_retype_password"
                            placeholder="confirm password" required class="form-control"  onclick="myyyFunction();"id="togglePassword" style="cursor: pointer; margin-left: -30px; color: black;" required class="form-control">
                            <span class="error_form" id="retype_password_error_message"  style="color:red; font-size :13px; "></span></td>
                    </tr>   
                    <tr>
                        <td colspan="2" align="center"><input type="submit" name="submit" value="REGISTER" class="btn btn-danger"></td>
                    </tr>
                </table>
            </center>
        </form>
</center>

  <!-- /. ROW  -->
  <hr />                
    
     
  <!-- /. ROW  -->           
</div>
<!-- /. PAGE INNER  -->
{% include "admin_footer.html" %}