{% include 'seller_header.html'  %} 

  
<div id="page-wrapper" >
  <div id="page-inner">
      <div class="row">
          <div class="col-md-12">
         
          </div>
      </div>              
       <!-- /. ROW  -->
        <hr />          
              
            
  
                <form method="post">
                    {% csrf_token %}
                    <center>
                
                        <h1 style="color:black">Change Password</h1>
                        <table class="table" style="width:500px;color:black">
                            <tr>
                                <th>Username</th>
                                <td><input type="text" readonly value="{{username}}" name="un" class="form-control" required></td>
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td><input type="text"  name="pwd" class="form-control" required></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submit" value="SET" class="btn btn-danger"></td>
                            </tr>
                        </table>
                
                    </center>
                </form>
    

       
  <!-- /. ROW  -->
  <hr />                
    
     
  <!-- /. ROW  -->           
</div>
<!-- /. PAGE INNER  --> 

{% include 'admin_footer.html'  %} 
